body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* All Pages*/

.pageTitle {
    color: #54284E;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.pageSubtitle {
    color: #54284E;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    white-space: nowrap;
}

.customDatetime {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Index Page*/
.table-header {
    background-color: #C0D6DF;
}

    .table-header th {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #00416A; 
    }

.table tr:hover {
    background-color: #C0D6DF;
}

.table td {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #00416A;
}

.customLink {
    text-decoration: none;
}

    .customLink i {
        width: 24px;
        height: 24px;
        color: #00416A;
        font-size: 24px;
    }

@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-Regular.ttf');
}

/*Edit Page*/

.form-container {
    width: 384px;
    margin: auto;
    height: 700px;
    left: 4px;
    top: 362px;
    background: #F2F6F8;
    border-radius: 20px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 55px;
}

.form-control {
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid #668DA6;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 0px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #8C8C8C;
    padding-left: 5px;
}

    .form-control:focus, .form-control:focus-visible {
        color: #212529;
        background-color: transparent;
        border-style: none;
        border-bottom: 1px solid #668DA6;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    font-family: tabler-icons !important;
    content: "ea53" !important;
    background: url(icons/calendar.svg);
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
    filter: invert(15%) sepia(56%) saturate(3886%) hue-rotate(186deg) brightness(85%) contrast(102%);
}

.control-label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    white-space: nowrap;
}

.customButton {
    text-decoration: none;
    background: rgba(223, 235, 239, 0.4);
    border: 1px solid #00416A;
    border-radius: 8px;
    width: 126px;
    height: 40px;
    margin-right: 8px;
}

.customActionButton {
    background: #336788 !important;
    color: white !important;
}

.custom-form-group {
    margin-top: 32px;
}